/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html, body {
	border: 0;
	height: 100%;
	font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.tree-item-label {
	transition: all 0.25s ease;
	border-radius: 5px;
}

.tree-item-destroy {
	display: none;
	transition: all 0.5s ease;
	opacity: 0;
}

.tree-item-label:hover > .tree-item-destroy {
	display: inline;
	opacity: 1;
}

.tree-item-label:hover {
	background-color: rgb(56, 71, 87);
}

.dropdown-menu.open {
	display: block;
}

@import "./bootstrap/css/bootstrap.min.css";
// @import "./bootstrap/css/bootstrap-theme.css";
